Repository AY2122S2-CS2103T-T12-1/tp, pull requests merged in 2022-04, with the labels that each got.

#164 Fixed respective issues from TP-D:
  docs/UserGuide.md
Labels: Doc:UG

#166 Update user guide to resolve issues
  docs/UserGuide.md
  docs/team/fenway17.md
Labels: priority.High, Doc:UG, PPP update

#122 Add test cases to AddCommandTest and DeleteCommandTest
  src/test/java/seedu/address/logic/commands/AddCommandTest.java
  src/test/java/seedu/address/logic/commands/DeleteCommandTest.java
Labels: v1.4

#168 Fixed issue 154
  README.md
  docs/UserGuide.md
  src/main/java/seedu/address/model/person/Phone.java
Labels: severity.Low, v1.4

#171 Update UserGuide.md
  docs/UserGuide.md
Labels: Doc:UG

#177 V1.4
  README.md
  docs/DeveloperGuide.md
  docs/UserGuide.md
  docs/images/user-guide/infocard.PNG
  docs/images/user-guide/infocardwithlabel.png
  docs/team/lzf834.md
Labels: Doc:UG, Doc:DG, PPP update, v1.4

#178 Edit limitation of automation
  docs/UserGuide.md
Labels: v1.4

#176 Add assertions to some parts of the code
  src/main/java/seedu/address/logic/commands/AddCommand.java
  src/main/java/seedu/address/logic/commands/DeleteCommand.java
  src/main/java/seedu/address/logic/commands/EditCommand.java
  src/main/java/seedu/address/logic/parser/FindActivityCommandParser.java
  src/main/java/seedu/address/logic/parser/FindClassCodeCommandParser.java
  src/main/java/seedu/address/logic/parser/FindCommandParser.java
  src/main/java/seedu/address/logic/parser/FindStatusCommandParser.java
Labels: severity.Low

#180 Added character limits to attributes:
  docs/UserGuide.md
  src/main/java/seedu/address/logic/parser/ParserUtil.java
  src/main/java/seedu/address/model/activity/Activity.java
  src/main/java/seedu/address/model/person/Address.java
  src/main/java/seedu/address/model/person/Name.java
  src/test/java/seedu/address/logic/parser/ParserUtilTest.java
Labels: type.Enhancement, Doc:UG, v1.4

#181 Test Case and UG updates
  docs/UserGuide.md
  docs/images/user-guide/rightclick.PNG
  docs/team/lzf834.md
  src/test/java/seedu/address/logic/parser/ParserUtilTest.java
Labels: Doc:UG, PPP update, v1.4

#183 Update UG and DG according to current version of app
  docs/DeveloperGuide.md
  docs/UserGuide.md
  docs/diagrams/FindActivitySequenceDiagram.puml
  docs/diagrams/FindClassCodeSequenceDiagram.puml
  docs/diagrams/FindStatusSequenceDiagram.puml
  docs/images/FindActivitySequenceDiagram.png
  docs/images/FindClassCodeSequenceDiagram.png
  docs/images/FindStatusSequenceDiagram.png
  docs/images/user-guide/help.png
Labels: Doc:UG, Doc:DG

#184 PPP update, Index.md update and DG update
  docs/DeveloperGuide.md
  docs/UserGuide.md
  docs/index.md
  docs/team/lzf834.md
Labels: Doc:DG, Documents:Misc, PPP update

#186 Update e0544333 PPP
  docs/team/e0544333.md
Labels: PPP update

#187 Update fenway17.md
  docs/team/fenway17.md
Labels: PPP update

#189 Update Louis PPP
  docs/team/louisdavinlie.md
Labels: PPP update

#191 Update UserGuide.md
  docs/UserGuide.md
Labels: Doc:UG

#192 Update UserGuide.md
  docs/UserGuide.md
Labels: Doc:UG

#193 Fix UI and UG
  docs/DeveloperGuide.md
  docs/UserGuide.md
  docs/images/UdtGuiWithLabels.png
  docs/images/user-guide/add.png
  docs/images/user-guide/delete.png
  docs/images/user-guide/edit.png
  docs/images/user-guide/find.png
  docs/images/user-guide/findactivity.png
  docs/images/user-guide/findclasscode.png
  docs/images/user-guide/findstatus.png
  docs/images/user-guide/help.png
  docs/images/user-guide/invalidcommand.png
  docs/images/user-guide/list.png
  docs/images/user-guide/rightclick.PNG
  docs/team/e0544333.md
  docs/team/fenway17.md
  docs/team/louisdavinlie.md
  docs/team/lzf834.md
  docs/team/whoisjunhong.md
  src/main/java/seedu/address/logic/commands/CommandResult.java
  src/main/java/seedu/address/logic/commands/ExitCommand.java
  src/main/java/seedu/address/logic/commands/HelpCommand.java
  src/main/java/seedu/address/ui/HelpWindow.java
  src/main/java/seedu/address/ui/MainWindow.java
  src/main/resources/images/banner.png
  src/main/resources/view/DarkTheme.css
  src/main/resources/view/MainWindow.fxml
  src/test/java/seedu/address/logic/commands/CommandResultTest.java
  src/test/java/seedu/address/logic/commands/ExitCommandTest.java
  src/test/java/seedu/address/logic/commands/HelpCommandTest.java
Labels: Doc:UG, type.UI

#194 Added diagrams for `Add` method in Developer Guide
  docs/DeveloperGuide.md
  docs/diagrams/AddClassDiagram.puml
  docs/diagrams/AddMethodActivityDiagram.puml
  docs/images/developer-guide/AddClassDiagram.png
  docs/images/developer-guide/AddMethodActivityDiagram.png
  docs/index.md
Labels: Doc:DG

#195 Update UserGuide.md
  docs/UserGuide.md
Labels: Doc:UG

#197 V1.4
  docs/DeveloperGuide.md
  docs/diagrams/HelpMethodActivityDiagram.puml
  docs/diagrams/HelpSequenceDiagram.puml
  docs/images/developer-guide/HelpMethodActivityDiagram.png
  docs/images/developer-guide/HelpSequenceDiagram.png
  docs/team/lzf834.md
Labels: Doc:DG

#198 PPP update
  docs/team/lzf834.md
Labels: PPP update

#201 Fix UG and UI styles
  docs/UserGuide.md
  src/main/resources/view/LightTheme.css
Labels: Doc:UG

#202 Added backup files
  docs/DeveloperGuide_backup_11-4-22.md
  docs/UserGuide_backup_11-4-22.md
Labels: Doc:UG, Doc:DG

#206 Add Design Consideration for Batch Update
  docs/DeveloperGuide.md
Labels: Doc:DG

#208 Update PPP
  docs/team/e0544333.md
Labels: PPP update
